/* Estiliza o corpo da página */
body {
    background: #25292e;
    color: #FFF;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

/* Estiliza o container principal */
.container {
    width: 100%;
    max-width: 450px;
    background: #16171a;
    padding: 55px;
    border-radius: 22px;
}

/* Estiliza a seção do topo */
.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;     
}

/* Estiliza o input dentro do topo */
.topo input {
    width: 350px;
    padding: 15px;
    margin: auto;
    border-radius: 12px;
    border: 1px solid #ffffff;
    outline: none;
    font-size: 1.2rem;
    background: #25292e;
    color: #FFF;
}

/* Estiliza o botão dentro do topo */
.topo button {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #ffffff;
    background: #25292e;
    color: #FFF;
    outline: none;
}

/* Estiliza o botão no topo ao passar o mouse */
.topo button:hover {
    background: #25292e;
    cursor: pointer;
}

/* Estiliza a lista de tarefas */
#listaTarefas {
    list-style-type: none;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

/* Estiliza a barra de rolagem da lista de tarefas */
#listaTarefas::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

/* Estiliza a parte que pode ser arrastada da barra de rolagem */
#listaTarefas::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Estiliza os itens da lista de tarefas */
#listaTarefas li {
    padding: 15px;
    background: #25292e;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Estiliza os botões de ação */
.btnAcao {
    border-radius: 10px;
    border: 1px solid #ffffff;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #FFF;
    outline: none;
}

/* Estiliza os botões de ação ao passar o mouse */
.btnAcao:hover {
    background: gray;
}

/* Estiliza o botão de excluir ao passar o mouse */
.btnAcao.excluir:hover {
    background-color: red;
}

/* Estiliza o texto das tarefas */
.textoTarefa {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

/* Estiliza a janela de edição */
#janelaEdicao {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #16171a;
    border: 1px solid #25292e;
    width: 415px;
    border-radius: 12px;
    z-index: 200;
    display: none;
}

/* Estiliza a janela de edição quando aberta */
#janelaEdicao.abrir {
    display: block !important;
}

/* Estiliza o fundo da janela de edição */
#janelaEdicaoFundo {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    left: 0;
    z-index: 100;
    right: 0;
    display: none;
}

/* Estiliza o fundo da janela de edição quando aberta */
#janelaEdicaoFundo.abrir {
    display: block !important;    
}

/* Estiliza o botão de fechar na janela de edição */
#janelaEdicaoBtnFechar {
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fffdfd;
    background: #25292e;
    color: #FFF;
    outline: none;
    cursor: pointer;
}

/* Estiliza o formulário */
form {
    width: 100%;
    margin-top: 20px;
}

/* Estiliza as linhas do formulário */
.frm-linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Estiliza os labels das linhas do formulário */
.frm-linha label {
    margin-bottom: 7px;
}

/* Estiliza os inputs das linhas do formulário */
.frm-linha input {
    padding: 15px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #ffffff;
    font-size: 1.2rem;
    background: #25292e;
    color: #FFF;
}

/* Estiliza os botões das linhas do formulário */
.frm-linha button {
    background: #25292e;
    border: 1px solid #ffffff;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 12px;
    color: #CCC;
    cursor: pointer;
    height: 50px;
    font-size: 1.3rem;
    outline: none;
}

/* Estiliza os botões das linhas do formulário ao passar o mouse */
.frm-linha button:hover {
    background: #25292e;
} 

/* Estiliza as tarefas concluídas */
.concluida {
    text-decoration: line-through;
    color: gray;
}

/* Estiliza a div que contém os botões */
.div-botoes {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* Estiliza o título */
h1 {
    text-align: center;
}

/* Estiliza o título da edição */
.tituloEdicao {
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

/* Estiliza o botão de excluir todos */
#btnExcluirTodos {
    margin-top: 20px;
}

/* Estiliza a centralização dos botões */
.centralizar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estiliza o botão de excluir todos */
#btnExcluirTodos{
    display: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
}
